In [13]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [14]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [23]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [63]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii-Copy1.sqlite")
conn = engine.connect()

In [17]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [18]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [19]:
# Save references to each table
Measurement = Base.classes.measurement
Station= Base.classes.station

In [21]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Inspector

In [49]:
inspector = inspect(engine)
inspector.get_table_names()
columns = inspector.get_columns('measurement')

In [50]:
columns = inspector.get_columns('measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [51]:
columns = inspector.get_columns('station')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

# Exploratory Precipitation Analysis

In [52]:
# Find the most recent date in the data set.
engine.execute('SELECT * FROM measurement ORDER BY date DESC LIMIT 1').fetchall()

[(2724, 'USC00519397', '2017-08-23', 0.0, 81.0)]

In [75]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
# Calculate the date one year from the last date in data set.
engine.execute('SELECT * FROM measurement WHERE date > 2016-08-23 ORDER BY date DESC').fetchall()

# Perform a query to retrieve the data and precipitation scores
precip_data = engine.execute('SELECT date, prcp FROM measurement WHERE date > 2016-08-23 ORDER BY date DESC').fetchall()

# Save the query results as a Pandas DataFrame and set the index to the date column
precip_data_df = pd.DataFrame(precip_data)
precip_data_df = precip_data_df.rename(columns = {0: 'Date', 1: 'Precip'})
precip_data_df = precip_data_df.set_index('Date')
precip_data_df

# Sort the dataframe by date
precip_data_df.sort_index(0)

# Use Pandas Plotting with Matplotlib to plot the data

            Precip
Date
2010-01-01    0.14
2010-01-01    0.08
2010-01-01    0.28
2010-01-01    0.05
2010-01-01    0.15
...            ...
2017-08-22    0.00
2017-08-23    0.45
2017-08-23    0.08
2017-08-23    0.00
2017-08-23    0.00

[19550 rows x 1 columns]

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()