# Bonus: Temperature Analysis I

In [15]:
import pandas as pd
from datetime import datetime as dt

In [16]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [17]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [18]:
# Set the date column as the DataFrame index
df = df.set_index("date")
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [13]:
# Drop the date column

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [24]:
# Filter data for desired months
june_df = df.filter(like = '-06-', axis=0)
june_df

dec_df = df.filter(like = '-12-', axis=0)
dec_df

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [26]:
# Identify the average temperature for June
june_mean = june_df['tobs'].mean()
june_mean

74.94411764705882

In [27]:
# Identify the average temperature for December
dec_mean = dec_df['tobs'].mean()
dec_mean

71.04152933421226

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis